body {
    background-image: linear-gradient(#fff 10%,#07a 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
}

.card {
    max-width: 540px;
    img {
        max-width: 175px;
    }
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 768px) {
    .card {
        max-width: 95%;
        margin: auto;
    }
}