a.blogcontainer{
    display: grid;
    width: 93.5%;
    grid-template-columns: 70% 30%;
    grid-template-rows: minmax(150px, auto) minmax(300px, auto) minmax(100px, auto);
    grid-template-areas: "ti ti"
    "co ts"
    "au au";
    border: 2px solid #333;
    border-radius: 50px;
    background-color: #ccc;
    padding: 5px 10px;
    /* Removing text decorations of normal <a> elements */
    text-decoration: none;
    font-style: normal;
    color: #111;
    font-family: none;
}

/* Adjusting the hover and active pseudo-selectors */

a.blogcontainer:hover{
    box-shadow: 2px 2px 0px 2px #444, -2px -2px 0px 2px #444, -2px 2px 0px 2px #444, 2px -2px 0px 2px #444;
    outline: none;
    text-decoration: none;
}

a.blogcontainer:active{
    box-shadow: 2px 2px 0px 2px #444, -2px -2px 0px 2px #444, -2px 2px 0px 2px #444, 2px -2px 0px 2px #444;
    outline: none;
    text-decoration: none;
}

a.blogcontainer:active h2, 
a.blogcontainer:active h3{
    color: #fff;
}

a.blogcontainer:active .title, 
a.blogcontainer:active .content, 
a.blogcontainer:active .timestamp, 
a.blogcontainer:active .author{
    border-color: #fff;
}

/* Editing each grid area */

.title{
    border-bottom: 1px solid #111;
    grid-area: ti;
    text-decoration: underline;
    padding: 10px;
}

.content{
    border-right: 1px solid #222;
    grid-area: co;
    padding: 5px 10px;
}

.timestamp{
    grid-area: ts;
    padding: 5px 10px;
}

.author{
    border-top: 1px solid #222;
    grid-area: au;
    font-style: italic;
    font-family: Garamond, sans-serif;
    text-align: end;
    padding: 5px 10px;
}