/* This CSS files defines the rules for the footer that will be placed at the end of all the pages */

.footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    align-items: flex-start;
    border-top: 2px solid #111;
    border-radius: 10px;
}

.footer div {
    padding: 10px 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer div:last-child {
    border-left: 1px solid #333;
}

/* The following rules are for the social buttons in the footer and author card */

/* The basis of these CSS rules were referenced from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons2 */

/* The following site gave the above link: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */

/* It was accessed on 27th January at 1818 hours (GMT+0300) */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    outline: none;
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}