/* This CSS file defines the rules for the header that will be placed at the top of all the pages */

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3em;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #111;
    border-radius: 10px;
}

.header .button:last-child {
    border-right: none;
}

.header .button {
    display: block;
    width: 50%;
    height: 1.5em;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    border-right: 1px solid #222;
    text-decoration: none;
}

.header .button:link {
    color: #111;
}

.header .button:visited {
    color: #555;
}

.header .button:hover {
    background-color: #aaa;
    color: #fff;
    outline: none;
    text-decoration: none;
}

.header .button:active {
    background-color: #111;
    color: #fff;
}

.header .button p {
    display: inline;
    vertical-align: middle;
}