/* This CSS file defines the rules for the image gallery that shows the cover art of three blog posts in the blog */

.imgcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img1 img2"
    "img3 img2";
    gap: 10px;
    height: 300px;
}

.img1 {
    grid-area: img1;
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    grid-area: img3;
    background-image: url("../images/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img5 {
    grid-area: img2;
    background-image: url("../images/image5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

