/* This CSS file defines the rules for the landing page of the blog */

@import "blogPost.css";
@import "header.css";
@import "footer.css";
@import "typography.css";
@import "nameCard.css";
@import "imageGallery.css";

/* The .maincontainer rule is for the content that will be placed between the header and footer */

.maincontainer {
    /* word-wrap helps break the words down for smaller screens */
    word-wrap: break-word;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 90%;
    gap: 20px;
    grid-template-areas: "bd"
    "bp";
}

/* The .bp class is used to place all the blog posts available in the blog */

.bp {
    display: flex;
    flex-direction: column;
    grid-area: bp;
}

.bp > * {
    margin: 10px;
}

/* The .desc class is used to show just the names of all blog posts in the blog */

.desc {
    grid-area: bd;
    display: flex;
    flex-direction: column;
}

.desc > a {
    border-bottom: 1px solid #777;
    margin: 5px 0px;
    text-decoration: none;
}

/* Going through the Chrome Dev Tools, the pixel width of a phone and tablet were found */

/* 600 px is the max size for a handheld phone */

/* 1024 is the max for a tablet */

@media(min-width: 600px) {
    header .button {
        width: 10ex;
    }
    header .button:last-child {
        border-right: 1px solid #222;
    }
    .maincontainer {
        word-wrap: break-word;
        display: grid;
        grid-template-columns: 70% 20%;
        gap: 20px;
        grid-template-areas: "bp bd";
    }
}