/* This CSS file is to define rules for the card used to show the author's information */

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 10px 20px;
}

.cardtext > * {
    text-align: center;
    margin: 5px 10px;
}

/* The .social class are for the social links of the author */

.social {
    border-top: 2px solid #333;
}