/* This CSS file is to define rules for the card used to show the author's information */

/* The basis of these CSS rules were referenced from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_cards */

/* The following site gave the above link: https://www.w3schools.com/howto/howto_css_cards.asp */

/* It was accessed on 26th January at 2301 hours (GMT+0300) */

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 10px 20px;
}

.cardtext > * {
    text-align: center;
    margin: 5px 10px;
}

/* The .social class are for the social links of the author */

.social {
    border-top: 2px solid #333;
}